.FeedItem{
    width:90%;
    height: 80px;
    margin: auto;
    margin-bottom: 10px;
    align-self: center;
    display: flex;
  }

  .FeedItemBox{
    border: 2px solid black;
    border-radius: 6px;
    display: grid;
    width: 100%;
    height:fit-content;
    padding: 10px;

    /* display: grid;
    height: 20vh;
    width: 20vw;
    justify-content: center;
    align-items: center; */
  }

  .FeedItemProfile{
    width: 10%;
    border: 2px solid black;
    border-radius: 30px;
    display: inline-block;
  }

  .FeedItemTitle{
    margin: 0px;
  }

  .FeedItemInfo{
    display: flex;
    margin: 0px;
  }

  .FeedItemInfoItem{
    margin: 0px;
  }

  .button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  }