.GroupBarContainer {
  overflow-x: auto;
  padding: 10px 0px 10px 30px;
  background-color: rgb(184, 0, 184);
}

.GroupBar {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

.GroupInGroupBar .GroupName {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  flex: 0 0 auto;
}

.GroupBar .Collapsible {
  margin: auto;
  border: 2px solid white;
  border-radius: 5px;
}

.Collapsible .GroupName{
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.Collapsible .MembersInGroup{
  margin: 5px 5px 5px 5px;
}

.GroupBar .Collapsible__contentInner {
  color: white;
}



