.main {
  display: grid;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    rgba(253, 84, 253, 0) 0%,
    rgba(142, 56, 255, 0.5) 20%,
    rgba(230, 44, 255, 0) 61%
  );
}

.wrapper {
  margin: auto;
  height: 350px;
  width: 80%;
  border-radius: 5px;
  background: #ffff;
  border-style: solid;
  border-color: lightgray;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper .product_title {
  font-size: 15px;
  text-align: left;
  padding-left: 15px;
  background: linear-gradient(
    to bottom right,
    rgba(225, 34, 53, 0.757) 10%,
    rgb(15, 44, 99) 40%,
    rgba(103, 19, 120, 0) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper .title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.container_form form .field {
  padding: 10px;
}

.container_form form .field input {
  justify-content: center;
  height: 30px;
  width: 80%;
  text-align: center;
}

.container_form form .btn {
  font-size: medium;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 50%;
  background-color: #ffff;
  border-radius: 5px;
  border: 1px solid rgb(20, 20, 20);
}

.container_form form .link a {
  margin-left: 5px;
  text-decoration: none;
  font-weight: bold;
}
