
.MyWorkoutsPage{
    top: 50px;
    width: 100%;
    background-color: rgb(47, 47, 47);
    padding: 10%;
}

.MySessions{
    background-color: green;
    visibility: visible;
    width: 100%;
    height: 20px;
    border: 3px solid black;
}

.MyPrograms{
    background-color: red;
    visibility: hidden;
    width: 100%;
    height: 20px;
    z-index: 10000;
}


.MySessionsButton{
    width:40%;
    height: 40px;
}


.MyProgramsButton{
    width: 40%;
    height: 40px;
}


.Session{
    width: 100%;
    height: 40px;
    background-color: green;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
}

.MyWorkoutsSelectionBar{
    width: 100%;
    display: flex;
}
