.TopBar{
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0px;
    display: flex;
    
}


.ProfilePage{
    width: 100%;
}


.ProfilePicture{
    height: 25vh;
    background-color: rgb(151, 177, 231);
    margin: auto;
    align-items: center;
    padding: 50px;
    position: relative;
}

.ProfileInfoBox{
    text-align: center;
    /* margin: 10% */
}

.DayCounter{
    text-align: center;
    /* margin: 10% */
}

.ExercisedToday{
    text-align: center;
    /* margin: 10% */
}

.Streak{
    text-align: center;
    /* margin: 10% */
}

.MyWorkoutsButton{
    width: 80%;
    height: 6vh;
    margin: auto;
}


