.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Menubar{
  width: 100%;
  border-width: 2;
  border-color: black;
  position: fixed;
  bottom: 0;
  height: 12%;
  white-space:nowrap;
  overflow:auto;
}


.MenuItem{
  border-width: 2;
  border-color: black;
  background-color: aliceblue;
}

.MenuItemButton{
  background-color: #bbb;
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.GroupBar{
  width: 100%;
  border-width: 2;
  border-color: black;
  position: fixed;
  top: 0;
  height: 12%;
  overflow: auto;
  white-space: nowrap;
  display: inline-block;
  background-color: white;
}

.GroupItem{
  padding: 10px;
}

.Feed{
  height: 100%;
  width: 100%;
  position:fixed;
  background-color: red;
  overflow:auto;
}

.FeedContainer{
  position:fixed;
  width: 100%;
  height: 76%;
  top: 12%;
  bottom: 12%;
  background-color: red;
  overflow: auto;
  display: block;
}

.GroupBarContainer{
  position:fixed;
  width: 100%;
  height: 12%;
  top: 0;
  background-color: blue;
}
.MenubarContainer{
  position:fixed;
  width: 100%;
  height: 12%;
  bottom: 0;
  background-color: green;
}